{% extends 'base.html.twig' %}

{% block title %}Edit Achievements{% endblock %}

{% block body %}
    <h1>Edit Achievements</h1>

    {{ include('achievements/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_achievements_index') }}">back to list</a>

    {{ include('achievements/_delete_form.html.twig') }}
{% endblock %}
