body {
    /*background-color:  #CC9666 ;*/
    background-image: url("../../public/images/background.jpg") ;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'HeroesLegend';
    font-style: normal;
    font-weight: 400;
    src: url('../../public/fonts/HeroesLegend.ttf');
}

.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}