{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}

    <section class="bg-[url('/images/bgtest.jpg')] bg-cover h-screen flex items-center justify-center">
        <div class=" p-8 max-w-4xl w-full">
            <div class="flex justify-center -mt-4 mb-6">
                <img class="h-3/6	 object-contain" src="{{ asset('images/herotaskHero2.png') }}" alt="HeroTask Hero">
            </div>

            <!-- Contenido de la tarjeta -->
            <div class="text-center">
                <img src="{{ asset('/images/becomajiro.png') }}" class="mb-4 -mt-2">

                <div class="flex justify-center space-x-4">
                    <button onclick="window.location.href='{{ path('app_register') }}'" class="inline-flex items-center justify-center bg-orangePeel px-5 py-3 text-black text-xl bangers-regular  font-medium text-center border border-gray-300 rounded-lg hover:bg-tyrianPurple focus:ring-4 focus:ring-gray-100">
                        Register
                    </button>

                    <button onclick="window.location.href='{{ path('app_login') }}'" class="inline-flex items-center justify-center bg-orangePeel px-5 py-3 text-black text-xl bangers-regular  font-medium text-center  border border-gray-300 rounded-lg hover:bg-tyrianPurple focus:ring-4 focus:ring-gray-100">
                        LogIn
                    </button>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block footer %}
{% endblock %}


